/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}


.tagcloud {
    z-index: 100 !important;
    background-color: #e7f5f7;
    padding: 25px;
    height: 500px;
    width: 100%;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    overflow: hidden;
}

    .tagcloud a {
        text-decoration: none;
        padding: 5px;
    }

.linkLevel-1 {
    font-size: 10pt;
    color: #cacaca;
}

.linkLevel-2 {
    font-size: 11pt;
    color: #a8a8a8;
}

.linkLevel-3 {
    font-size: 13pt;
    color: gray;
}

.linkLevel-4 {
    font-size: 15pt;
    color: black;
}

.linkLevel-5 {
    font-size: 18pt;
    color: black;
}

.linkLevel-6 {
    font-size: 20pt;
    color: black;
}

.linkLevel-7 {
    font-size: 22pt;
    color: black;
}

.linkLevel-8 {
    font-size: 24pt;
    color: black;
}

.linkLevel-9 {
    font-size: 26pt;
    color: black;
}

.linkLevel-10 {
    font-size: 30pt;
    font-weight: bold;
    color: #ff0000;
    text-shadow: 8px 4px 11px #800000;
}


/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

